name: Gazette Daily Check

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # This ensures the bot can save the 'last_gazette' file
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }} # Add this line
        run: python scraper.py

      - name: Commit changes
        run: |
          git config --global user.name 'Gazette Bot'
          git config --global user.email 'bot@noreply.github.com'
          git add last_gazette.txt
          git commit -m "Update last seen gazette" || exit 0
          git push
